html, body {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 60px;
    line-height: 60px;
    padding: 20px;
    margin: 0px;
    background-color: #D44500;
}

h1 {
    display: inline;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0px;
}

ul li {
    float: left;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: #000;
}

.content {
    width: 70%;
    float: left;
    background-color: silver;
    min-height: 500px;
}

.sidebar {
    width: 30%;
    float: left;
    background-color: #444;
    color: white;
    min-height: 500px;
}